<div class="jumbotron">
  <h1>About Email Form</h1>
  <p>This is a test web app used for the webdriver-demo</p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/henryqdineen/webdriver-demo/" role="button">Learn more</a></p>
</div>
