<div class="jumbotron">
  <h1>WebDriver Demo App</h1>
  <p>A simple email sender</p>
  <p>
    <button type="button" class="btn btn-danger compose-button">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Compose
    </button>
  </p>
</div>