<div class="alert alert-success" role="alert"><strong>Email Sent!</strong></div>
<button type="button" class="btn btn-success compose-button">
  <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Compose again
</button>