<form method="post">
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="Enter email address" name="to">
  </div>
  <div class="form-group">
    <label>Subject</label>
    <input type="text" class="form-control" placeholder="Enter subject" name="subject">
  </div>
  <div class="form-group">
    <label>Body</label>
    <textarea rows="5" class="form-control" placeholder="Type your message..." name="text"></textarea>
  </div>
  <div>
    <button type="button" class="btn back-button">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
    </button>
    <button type="submit" class="btn btn-primary send-button">
      <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send
    </button>
  </div>
</form>
